.conteudo-container{
    background-color: #e23e57;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-logo{
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 65%;
    width: 25%;
   
     
}

.conteudo-p{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
   
}
p{
    font-size: large;  
    text-decoration:none;
    color: #ffff;
    letter-spacing: 1px;
    
}
.p1{
    font-size: 30px;  
}
.p2{
    font-size: 20px;  
}
.p3{
    font-size: 25px;
    color: #ffff;  
}
.conteudo-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ef97a4;
   
}
.conteudo-footer-imagem{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 50%;
}
.conteudo-footer-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.img-seta{
    height: 20%;
}
.img-camisas{
    border-radius: 10%;
    height: 30%;
    cursor: pointer;
}
.img-camisas:hover{
    border-radius: 10%;
    height: 35%;
    cursor: pointer;
}

.botao{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.display {
    margin-top: 20px; 
    text-align: center; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    align-items: center;

}

.botaoSenha {
    background-color: #e23e57; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    margin: 5px; 
    transition: background-color 0.3s ease; 
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .display ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  
  .display li {
    background-color: #f9f9f9; 
    margin: 5px 0; 
    padding: 8px; 
    border-radius: 4px; 
    text-align: center;
  }

  .telaSenha{
    background-color: #e2184a;

  }

  



